{% extends "layout.html" %}

{% block content %}
<h1 class="text-3xl font-bold text-center">Welcome {% if user %} Back {% endif %} to Word Guessing Game</h1>
{% if user %}
<div class="flex gap-5 items-center mt-5 justify-center">
    <p class="text-center">Hello, {{ user.username }}!</p>
    <a href="{% url 'logout' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Logout</a>
</div>
{% if games_played_today %}
<p class="text-center my-2">You have played {{ games_played_today }} games today.</p>
{% endif %}
<div class="flex flex-col gap-5 items-center mt-5">
    <a href="{% url 'start_game' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start
        Game</a>
        {% if user.is_admin %}
        <div class="flex gap-5 justify-center items-center mt-5">
            <a href="{% url 'admin_day' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Day Report for Admin</a>
            <a href="{% url 'admin_user' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">User Report for Admin</a>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="flex flex-col gap-5 items-center mt-5">
    <a href="{% url 'register' %}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</a>
    <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</a>
</div>
{% endif %}
{% if messages %}
<ul class="messages flex flex-col gap-2 justify-center items-center">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% endblock content %}