{% extends "layout.html" %}

{% block content %}
    <h1 class="text-3xl font-bold text-center mb-5">Play</h1>

    <div class="flex flex-col gap-2 items-center mt-5">
        {% for row in display %}
            <div class="grid grid-cols-5 gap-2">
                {% for cell in row %}
                    <div class="{{ cell.css_class }} size-12 rounded-md text-lg font-semibold text-center uppercase flex items-center justify-center">
                        {{ cell.char }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% for _ in remaining_rows %}
            <div class="grid grid-cols-5 gap-2">
                {% for _ in list_of_5 %}
                    <div class="bg-gray-300 size-12 rounded-md text-lg font-semibold text-center uppercase flex items-center justify-center">
                        -
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
    
    {% if guesses >= 5 and not game.won %}
        <div class="text-center mt-5">
            <h2 class="text-3xl font-bold text-red-600">Game Over</h2>
            <p class="text-lg font-semibold">The word was: <span class="font-bold uppercase">{{ game.word.text }}</span></p>
            <p class="text-xl font-bold text-gray-700">You lost!</p>
            <a href="{% url 'index' %}" 
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3 inline-block">
                Home
            </a>
        </div>
    {% endif %}

    {% if game.won %}
        <div class="text-center mt-5">
            <p class="text-3xl font-bold text-green-600">You won!</p>
            <a href="{% url 'index' %}" 
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3 inline-block">
                Home
            </a>
        </div>
    {% endif %}

    <form method="post" class="flex flex-col gap-4 items-center mt-6">
        {% csrf_token %}
        <div class="flex gap-2 items-center">
            <label for="guess_text" class="font-semibold">Guess:</label>
            <input type="text" name="guess_text" id="guess_text"
                   maxlength="5"
                   class="bg-gray-300 p-2 rounded-md text-lg uppercase tracking-widest text-center"
                   required {% if guesses >= 5 or game.finished %}disabled{% endif %}>
        </div>
        
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded disabled:opacity-50"
                type="submit" {% if guesses >= 5 or game.finished %}disabled{% endif %}>
            Submit Guess
        </button>
    </form>
{% endblock content %}
